<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <div class="sectionDescription">
       
      <span class="dashboardBtn"
        ><a href="/curatedList/model/CM_PM19804630_MB6::Activation_Raf1#dashboard"
          ><i class="fa fa-undo" aria-hidden="true"></i> Dashboard</a
        ></span
      >
      <h2>Name - <span>CM_PM19804630_MB6::Activation_Raf1</span></h2>
      <h2>BioModel ID - <span>206037349</span></h2>
       
    </div>

    <div class="rxnDiagram">
      <h2 class="sectionTitle">Reaction Diagram</h2>
       
      <img
        class="image-zoom-available"
        src="https://vcellapi-beta.cam.uchc.edu:8080/biomodel/206037349/diagram"
        alt="reactionDiagram"
        draggable="false"
      />
       
    </div>

    <h2 class="sectionTitle">Physiology</h2>
    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Reactions
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#reactions"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Reaction</th>
              <th scope="col">Name</th>
              <th scope="col">Structure</th>
              <th scope="col">Kinetics</th>
            </tr>
          </thead>
          <tbody>
              
            <tr>
              <td data-title="Reaction">
                 Raf1
                <span style="color: #666666">--></span>
                 Raf1_act 
              </td>
              <td data-title="Name">Raf1_Activation</td>
              <td data-title="Structure">cell</td>
              <td data-title="Kinetics">
                 GeneralKinetics 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="reactionUID-Raf1_Activation">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>

              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="reactionTA-Raf1_Activation">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
               
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: (Kcat * Ras_act * Raf1 / (km + Raf1))
                      <span class="unit">[mmol.ml-1.min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 62464.6
                      <span class="unit">[mmol.ml-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 0.884096
                      <span class="unit">[min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
               
            </tr>
            
            <tr>
              <td data-title="Reaction">
                 Raf1_act
                <span style="color: #666666">--></span>
                 Raf1 
              </td>
              <td data-title="Name">Raf1_Deactivation</td>
              <td data-title="Structure">cell</td>
              <td data-title="Kinetics">
                 GeneralKinetics 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="reactionUID-Raf1_Deactivation">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>

              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="reactionTA-Raf1_Deactivation">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
               
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: (Kcat * Raf1PPtase * Raf1_act / (km + Raf1_act))
                      <span class="unit">[mmol.ml-1.min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 1061.71
                      <span class="unit">[mmol.ml-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 0.126329
                      <span class="unit">[min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
               
            </tr>
            
            <tr>
              <td data-title="Reaction">
                 Raf1_act
                <span style="color: #666666">--></span>
                 Raf1 
              </td>
              <td data-title="Name">Raf1_Deactivation_Akt</td>
              <td data-title="Structure">cell</td>
              <td data-title="Kinetics">
                 GeneralKinetics 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="reactionUID-Raf1_Deactivation_Akt">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>

              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="reactionTA-Raf1_Deactivation_Akt">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
               
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: (Kcat * Akt_act * Raf1_act / (km + Raf1_act))
                      <span class="unit">[mmol.ml-1.min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 119355.0
                      <span class="unit">[mmol.ml-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 15.1212
                      <span class="unit">[min-1]</span>
                    </p>
                  </div>
                </div>
              </td>
               
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Structures
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#structures"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Electrical (Membrane Polarity)</th>
            </tr>
          </thead>
          <tbody>
                   
            <tr>
              <td data-title="Name">cell</td>
              <td data-title="Type">Compartment</td>
              <td data-title="Electrical">
                (+) &nbsp;
                (-)
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="structureUID-cell">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="structureTA-cell">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Species
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#species"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Structure</th>
            </tr>
          </thead>
          <tbody>
              
            <tr>
              <td data-title="Name">Ras_act</td>
              <td data-title="Structure">cell</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-Ras_act">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-Ras_act">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">Raf1_act</td>
              <td data-title="Structure">cell</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-Raf1_act">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-Raf1_act">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">Raf1</td>
              <td data-title="Structure">cell</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-Raf1">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-Raf1">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">Akt_act</td>
              <td data-title="Structure">cell</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-Akt_act">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-Akt_act">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">Raf1PPtase</td>
              <td data-title="Structure">cell</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-Raf1PPtase">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-Raf1PPtase">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Molecules
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#molecules"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
                

            <tr>
              <td data-title="Name">Ras</td>

              <td data-title="Description">
                 Active  
                ~yes 
                ~no   . 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-Ras">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-Ras">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            

            <tr>
              <td data-title="Name">Raf</td>

              <td data-title="Description">
                 Active  
                ~yes 
                ~no   . 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-Raf">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-Raf">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            

            <tr>
              <td data-title="Name">Akt</td>

              <td data-title="Description">
                 Active  
                ~yes 
                ~no   . 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-Akt">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-Akt">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            

            <tr>
              <td data-title="Name">P_tase</td>

              <td data-title="Description">
                
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-P_tase">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-P_tase">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
                
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Observables
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#observables"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">BioNetGen Defination</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
                  
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <h2 class="sectionTitle">Applications</h2>
    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Applications
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Math Type</th>
              <th scope="col">Annotation</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Name">Deterministic</td>
              <td data-title="Math Type"></td>
              <td data-title="Annotation">cloned from &#x27;Deterministic&#x27; owned by user savi06
cloned from &#x27;Deterministic&#x27; owned by user mblinov
cloned from &#x27;Deterministic&#x27; owned by user cab15130
</td>
            </tr>

             
          </tbody>
        </table>
      </div>
    </div>

      
    <h2 class="sectionTitle">0 - Deterministic</h2>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Specifications(Species) - Deterministic
          </caption>
          <thead>
            <tr>
              <th scope="col">Species</th>
              <th scope="col">Initial Condition</th>
              <th scope="col">Diffusion Constant</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Species">Ras_act</td>
              <td data-title="Initial Condition">
                0.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">Raf1_act</td>
              <td data-title="Initial Condition">
                0.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">Raf1</td>
              <td data-title="Initial Condition">
                120000.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">Akt_act</td>
              <td data-title="Initial Condition">
                0.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">Raf1PPtase</td>
              <td data-title="Initial Condition">
                120000.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
             
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Specifications(Reaction) - Deterministic
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Reaction Mapping</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Name">Raf1_Activation</td>
              <td data-title="ReactionMapping">included</td>
            </tr>
            
            <tr>
              <td data-title="Name">Raf1_Deactivation</td>
              <td data-title="ReactionMapping">included</td>
            </tr>
            
            <tr>
              <td data-title="Name">Raf1_Deactivation_Akt</td>
              <td data-title="ReactionMapping">included</td>
            </tr>
             
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Simulations - Deterministic
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">End Time</th>
              <th scope="col">Output Options</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
     

    <hr />
    <h2 class="sectionTitle">Global Parameters</h2>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Global Parameters
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#global"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Expression</th>
            </tr>
          </thead>
          <tbody>
                
          </tbody>
        </table>
      </div>
    </div>
    <hr />

    <!-- <script src="/js/imageZoom.js"></script> -->

    <script src="../public/js/curatedListTable.js"></script>
    <script src="../public/js/subMenu.js"></script>
    <script src="../public/js/navbar.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/searchForm.js"></script>
    <script src="../public/js/search1.js"></script>
  </body>
</html>
