<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <div class="sectionDescription">
       
      <span class="dashboardBtn"
        ><a href="/curatedList/model/CM_PM12648679_MB3::Protein_phosphorylation_sigmoidal#dashboard"
          ><i class="fa fa-undo" aria-hidden="true"></i> Dashboard</a
        ></span
      >
      <h2>Name - <span>CM_PM12648679_MB3::Protein_phosphorylation_sigmoidal</span></h2>
      <h2>BioModel ID - <span>212135759</span></h2>
       
    </div>

    <div class="rxnDiagram">
      <h2 class="sectionTitle">Reaction Diagram</h2>
       
      <img
        class="image-zoom-available"
        src="https://vcellapi-beta.cam.uchc.edu:8080/biomodel/212135759/diagram"
        alt="reactionDiagram"
        draggable="false"
      />
       
    </div>

    <h2 class="sectionTitle">Physiology</h2>
    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Reactions
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#reactions"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Reaction</th>
              <th scope="col">Name</th>
              <th scope="col">Structure</th>
              <th scope="col">Kinetics</th>
            </tr>
          </thead>
          <tbody>
              
            <tr>
              <td data-title="Reaction">
                 R
                <span style="color: #666666">--></span>
                 PR 
              </td>
              <td data-title="Name">protein_phos</td>
              <td data-title="Structure">c0</td>
              <td data-title="Kinetics">
                 HMMIrreversible 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="reactionUID-protein_phos">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>

              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="reactionTA-protein_phos">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
               
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: ((Vmax * R) / (Km + R))
                      <span class="unit">[uM.s-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 1.0
                      <span class="unit">[uM]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: S
                      <span class="unit">[uM.s-1]</span>
                    </p>
                  </div>
                </div>
              </td>
               
            </tr>
            
            <tr>
              <td data-title="Reaction">
                 PR
                <span style="color: #666666">--></span>
                 R 
              </td>
              <td data-title="Name">protein_dephos</td>
              <td data-title="Structure">c0</td>
              <td data-title="Kinetics">
                 HMMIrreversible 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="reactionUID-protein_dephos">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>

              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="reactionTA-protein_dephos">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
               
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: ((Vmax * PR) / (Km + PR))
                      <span class="unit">[uM.s-1]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 1.0
                      <span class="unit">[uM]</span>
                    </p>
                  </div>
                </div>
              </td>
              
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA">
                    <p class="heading">
                      Reaction rate: 1.0
                      <span class="unit">[uM.s-1]</span>
                    </p>
                  </div>
                </div>
              </td>
               
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Structures
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#structures"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Electrical (Membrane Polarity)</th>
            </tr>
          </thead>
          <tbody>
                   
            <tr>
              <td data-title="Name">c0</td>
              <td data-title="Type">Compartment</td>
              <td data-title="Electrical">
                (+) &nbsp;
                (-)
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="structureUID-c0">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="structureTA-c0">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Species
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#species"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Structure</th>
            </tr>
          </thead>
          <tbody>
              
            <tr>
              <td data-title="Name">S</td>
              <td data-title="Structure">c0</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-S">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-S">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">R</td>
              <td data-title="Structure">c0</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-R">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-R">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            
            <tr>
              <td data-title="Name">PR</td>
              <td data-title="Structure">c0</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="speciesUID-PR">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="speciesTA-PR">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Molecules
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#molecules"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
                

            <tr>
              <td data-title="Name">R</td>

              <td data-title="Description">
                 mod  
                ~P 
                ~U   . 
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-R">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-R">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
            

            <tr>
              <td data-title="Name">S</td>

              <td data-title="Description">
                
              </td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="moleculesUID-S">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="moleculesTA-S">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>
                
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Observables
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#observables"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">BioNetGen Defination</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
                

            <tr>
              <td data-title="Name">O0_R_tot</td>
              <td data-title="Domain">Molecules</td>

               
              <td data-title="MolecularType">R</td>
                
              <td data-title="SequenceType">Multimolecular</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="observableUID-O0_R_tot">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="observableUID-O0_R_tot">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>

            

            <tr>
              <td data-title="Name">O0_S_tot</td>
              <td data-title="Domain">Molecules</td>

               
              <td data-title="MolecularType">S</td>
                
              <td data-title="SequenceType">Multimolecular</td>
            </tr>
            <tr>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printUID" id="observableUID-O0_S_tot">
                    <p class="heading">Universal ID's:</p>
                  </div>
                </div>
              </td>
              <td class="printAnnotationWrap">
                <div class="printAnnotation">
                  <div class="printTA" id="observableUID-O0_S_tot">
                    <p class="heading">Text Annotations:</p>
                  </div>
                </div>
              </td>
            </tr>

                
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <h2 class="sectionTitle">Applications</h2>
    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Applications
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Math Type</th>
              <th scope="col">Annotation</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Name">Sigmoidal</td>
              <td data-title="Math Type"></td>
              <td data-title="Annotation">cloned from &#x27;Sigmoidal&#x27; owned by user shreyasinha28
cloned from &#x27;Sigmoidal&#x27; owned by user ModelBrick

</td>
            </tr>

             
          </tbody>
        </table>
      </div>
    </div>

      
    <h2 class="sectionTitle">0 - Sigmoidal</h2>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Specifications(Species) - Sigmoidal
          </caption>
          <thead>
            <tr>
              <th scope="col">Species</th>
              <th scope="col">Initial Condition</th>
              <th scope="col">Diffusion Constant</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Species">S</td>
              <td data-title="Initial Condition">
                t
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">R</td>
              <td data-title="Initial Condition">
                1.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
            
            <tr>
              <td data-title="Species">PR</td>
              <td data-title="Initial Condition">
                0.0
              </td>
              <td data-title="Diffusion Constant">0.0</td>
            </tr>
             
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Specifications(Reaction) - Sigmoidal
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Reaction Mapping</th>
            </tr>
          </thead>
          <tbody>
             
            <tr>
              <td data-title="Name">protein_phos</td>
              <td data-title="ReactionMapping">included</td>
            </tr>
            
            <tr>
              <td data-title="Name">protein_dephos</td>
              <td data-title="ReactionMapping">included</td>
            </tr>
             
          </tbody>
        </table>
      </div>
    </div>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Simulations - Sigmoidal
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">End Time</th>
              <th scope="col">Output Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Name">Simulation0</td>
               
              <td data-title="End Time">10.0</td>
               
              <td data-title="Output Options">
                every 
              </td>
               
            </tr>
          </tbody>
        </table>
      </div>
    </div>
     

    <hr />
    <h2 class="sectionTitle">Global Parameters</h2>

    <div class="pmTable">
      <div class="container">
        <table class="responsive-table">
          <caption>
            Global Parameters
            <span class="dashboardBtn"
              ><a href="/curatedList/model/#global"
                ><i class="fa fa-undo" aria-hidden="true"></i> See in
                Dashboard</a
              ></span
            >
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Expression</th>
            </tr>
          </thead>
          <tbody>
                
          </tbody>
        </table>
      </div>
    </div>
    <hr />

    <!-- <script src="/js/imageZoom.js"></script> -->

    <script src="../public/js/curatedListTable.js"></script>
    <script src="../public/js/subMenu.js"></script>
    <script src="../public/js/navbar.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/searchForm.js"></script>
    <script src="../public/js/search1.js"></script>
  </body>
</html>
